recursive-include certain *.py *.txt *.defaults
recursive-include bin *
include setup/etc/certain/certain.conf
include setup/sphinx/html/*
include etc/init/certain.conf
include etc/init/storeserver.conf
