[global]
LogLevel = CRITICAL
#Root path for all certmgr sub-directories
RootPath = /etc/certmgr
#Path to store CA certificate (master)
CAPath = %(RootPath)s/CA
#Path to store CA private key (master)
CAPrivatePath = %(RootPath)s/CA/private
#Path to store 'own' certificates
CertPath = %(RootPath)s/certs
#Path to store 'own' private keys
PrivatePath = %(RootPath)s/private
#Path to store received CSR files awaiting signing
CSRCache = %(RootPath)s/CSRCache
#Path of certificate store
StoreDir = %(RootPath)s/store
#Is this computer the master? (boolean)
IsMaster = 1
#Default address & port for Master
MasterAddress = certmgr
MasterPort = 35182
MasterSeqPort = 35183


[master]
#Should CSR's be automatically signed? (boolean)
AutoSign = 0
#Require the CSR CommonName to match the requesting host? (boolean)
HostVerify = 0
#Types of notifictions to send when CA is due to expire
#A space-separated list of: log, email
ExpiryNotifiers = log email
#How often to send Notification messages for expired ca (seconds)
NotifyFrequency = 86400


[store]
#StoreType can be a space-separated list of one or more of:
# none, svn, git, web, webserver, webdav, multiplex
StoreType = svn
StoreUrl = https://certmgr/certs
#How often to poll the store for new certificates
PollTimer = 3600


[ca]
#Name of CA certificate
CACert = certmgr.crt
#Name of CA key file
CAKey = certmgr.key
#Name of CA CSR file (for optional manual signing of CA)
CACSR = certmgr.csr
Bits = 2048
Email = CA@CertMgr
CN = CertMgr CA
OU = CertMgr Unit
O = CertMgr Org
L = CertMgr City
ST = CertMgr State
C = UK
# 60 * 60 * 24  * 365 * 10 = 10 years
CALifetime = 315360000
# 60 * 60 * 24 * 7 = 7 days
ExpiryDeadline = 608400


[cert]
Bits = 2048
#CN defaults to fqdn
Email = certmgr@CertMgr
OU = CertMgr Unit
O = CertMgr Org
L = CertMgr City
ST = CertMgr State
C = UK
# 60 * 60 * 24  * 365 = 1 year
CertLifetime = 31536000
# 60 * 60 * 24 * 7 = 7 days
ExpiryDeadline = 608400


[email]
SMTPServer = smtp.example.com
FromAddress = certmgr@example.com


[web]
#Directory to write certs to (to be served by a webserver)
WebDir = /var/www/html/certs
#Should certmgr start a simple webserver serving WebDir (boolean)
EnableWebserver = 0
#Port for webserver to listen on
ServerPort = 32184
