[global]
LogLevel = CRITICAL
RootPath = /etc/certmgr
CertPath = %(RootPath)s/certs
PrivatePath = %(RootPath)s/private
CAPath = %(RootPath)s/CA
CAPrivatePath = %(RootPath)s/CA/private
CACert = certmgr.crt
CAKey = certmgr.key
CSRCache = %(RootPath)s/CSRCache
#Default hostname for Master should be set to certmgr
MasterAddress = certmgr
MasterPort = 35182

[manager]
#Should CSR's be automatically signed? (boolean)
AutoSign = 0
#Do we verify the CSR CommonName matches the requesting host?
#Should the hostname be checked against Certificate CN? (boolean)
HostVerify = 0
#Set to 1 on the Master
IsMaster = 0
#StoreType can be: none, webdav
StoreType = webdav
StoreUrl = https://certmgr/certs

[ca]
Bits = 4096
CN = CertMgr CA
OU = CertMgr Unit
O = CertMgr Org
L = CertMgr City
ST = CertMgr State
C = UK
# 60 * 60 * 24  * 365 * 10 = 10 years
CALifetime = 315360000

[cert]
Bits = 4096
#CN defaults to fqdn
OU = CertMgr Unit
O = CertMgr Org
L = CertMgr City
ST = CertMgr State
C = UK
# 60 * 60 * 24  * 365 = 1 year
CertLifetime = 31536000

[client]
AutoSend = 1