[global]
#LogLevel can be one of DEBUG, INFO, WARN, ERR, CRITICAL
LogLevel = CRITICAL
#File to write logs to
LogFile = /var/log/certain.log
#Size of logfile before rotation (bytes)
LogSize = 2000000
#Number of old rotated logfiles to keep
LogRotate = 5
#Root path for all certain sub-directories
RootPath = /etc/certain
#Path to store CA certificate (master)
CAPath = %(RootPath)s/CA
#Path to store CA private key (master)
CAPrivatePath = %(RootPath)s/CA/private
#Path to store 'own' certificates
CertPath = %(RootPath)s/certs
#Path to store 'own' private keys
PrivatePath = %(RootPath)s/private
#Path to store received CSR files awaiting signing
CSRCache = %(RootPath)s/CSRCache
#Path of certificate store
StoreDir = %(RootPath)s/store
#Is this computer the master? (boolean)
IsMaster = 1
#Default address & port for Master
MasterAddress = certain
MasterPort = 35182
MasterSeqPort = 35183
#Algorithm to use for signing certs
#Can be one of sha1, md5, sha224, sha256, ripemd160
Algorithm = sha256


[master]
#Should CSR's be automatically signed? (boolean)
AutoSign = 0
#Require the CSR CommonName to match the requesting host? (boolean)
HostVerify = 0
#Types of notifictions to send when CA is due to expire
#A space-separated list of: log, email
ExpiryNotifiers = log email
#How often to send Notification messages for expired ca (seconds)
NotifyFrequency = 86400


[store]
#StoreType can be a space-separated list of one or more of:
# none, svn, git, web, webserver, webdav, multiplex
StoreType = svn
StoreUrl = https://certain/certs
#How often to poll the store for new certificates
PollTimer = 3600
# StoreServer is the server module which will be started by the 'storeserver'
# command
StoreServer = webserver


[ca]
#Name of CA certificate
CACert = certain.crt
#Name of CA key file
CAKey = certain.key
#Name of CA CSR file (for optional manual signing of CA)
CACSR = certain.csr
Bits = 2048
Email = CA@Certain
CN = Certain CA
OU = Certain Unit
O = Certain Org
L = Certain City
ST = Certain State
C = UK
# 60 * 60 * 24  * 365 * 10 = 10 years
CALifetime = 315360000
# 60 * 60 * 24 * 7 = 7 days
ExpiryDeadline = 608400


[cert]
Bits = 2048
#CN defaults to fqdn
Email = certain@Certain
OU = Certain Unit
O = Certain Org
L = Certain City
ST = Certain State
C = UK
# 60 * 60 * 24  * 365 = 1 year
CertLifetime = 31536000
# 60 * 60 * 24 * 7 = 7 days
ExpiryDeadline = 608400


[email]
SMTPServer = smtp.example.com
FromAddress = certain@example.com


[webserver]
#Directory to write certs to (to be served by a webserver)
WebDir = /var/www/html/certs
#Port for webserver to listen on
ServerPort = 32184
