#!/usr/bin/make -f

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean 

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	mkdir -p $(CURDIR)/debian/certmgr
	#mkdir -p $(CURDIR)/debian/certmgr/etc/certmgr
	#mkdir -p $(CURDIR)/debian/certmgr/usr/share/pyshared
	#mkdir -p $(CURDIR)/debian/certmgr/usr/bin
	dh_installdirs

	# Add here commands to install the package into debian/certmgr

	cp $(CURDIR)/cert.py $(CURDIR)/debian/tmp/usr/share/pyshared
	cp $(CURDIR)/certmgr.py $(CURDIR)/debian/tmp/usr/bin/certmgr
	cp $(CURDIR)/certmgr.cfg $(CURDIR)/debian/tmp/etc/certmgr
	

# Build architecture-independent files here.
binary-arch: install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
